replicas: 3  # High availability, must match number of ingress/backend pods

hostname: rancher.example.com  # Your Rancher FQDN (must match DNS + cert)

ingress:
  enabled: true
  ingressClassName: nginx
  tls:
    source: letsEncrypt  # options: secret, letsEncrypt, rancher, or none

letsEncrypt:
  email: you@example.com
  environment: production
  privateKeySecretName: letsencrypt-rancher-prod
  http01: true

# Use your own private or public CA (if not using Let's Encrypt)
# tls:
#   source: secret
#   secretName: your-rancher-tls-secret

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

auditLog:
  level: 1
  destination: hostPath
  hostPath: /var/log/auditlog/rancher-api-audit.log
  maxAge: 10
  maxBackups: 5
  maxSize: 100

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - rancher

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
  - operator: "Exists"

priorityClassName: system-cluster-critical

# Optional - Prometheus metrics
global:
  cattle:
    prometheus:
      enabled: true
