# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.venv/
ENV/
env/
env.bak/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Ansible
.ansible/

# Editor configs
.vscode/
.idea/
*.swp

