apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  template:
    spec:
      # Remove initContainers
      initContainers: null
      
      # Add node selector
      nodeSelector:
        kubernetes.io/arch: amd64
        kubernetes.io/os: linux
      
      # Update security context to run as root with necessary capabilities
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        runAsNonRoot: false
      
      containers:
      - name: grafana
        securityContext:
          allowPrivilegeEscalation: true
          capabilities:
            add: ["CHOWN", "DAC_OVERRIDE", "FOWNER", "SETGID", "SETUID"]
          readOnlyRootFilesystem: false
          runAsUser: 0
          runAsGroup: 0
          runAsNonRoot: false
        volumeMounts:
        - mountPath: /var/lib/grafana
          name: grafana-storage
        - mountPath: /etc/grafana/grafana.ini
          name: grafana-config
          readOnly: true
          subPath: grafana.ini
        - mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
          name: grafana-config
          subPath: datasources.yaml
      
      # Update volumes to use emptyDir
      volumes:
      - name: grafana-storage
        emptyDir: {}
      - name: grafana-config
        configMap:
          name: grafana-config
          items:
          - key: grafana.ini
            path: grafana.ini
          - key: datasources.yaml
            path: datasources.yaml
