apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: system-apps
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: cert-manager-crds
            chart: cert-manager-crds
            repoURL: https://charts.jetstack.io
            version: 1.13.2
          - name: neuvector
            chart: core
            repoURL: https://neuvector.github.io/neuvector-helm
            version: 2.6.6
          - name: longhorn-helm
            chart: longhorn
            repoURL: https://charts.longhorn.io
            version: 1.5.3
          - name: argocd
            chart: argo-cd
            repoURL: https://argoproj.github.io/argo-helm
            version: 6.7.14
          - name: sealed-secrets
            chart: sealed-secrets
            repoURL: https://bitnami-labs.github.io/sealed-secrets
            version: 2.15.3
          - name: grafana
            chart: grafana
            repoURL: https://grafana.github.io/helm-charts
            version: 7.3.10
          - name: network-policies
            chart: network-policies
            repoURL: https://example.com/helm-charts
            version: 1.0.0
          - name: nodelocaldns
            chart: nodelocaldns
            repoURL: https://example.com/helm-charts
            version: 1.0.0
          - name: prometheus
            chart: kube-prometheus-stack
            repoURL: https://prometheus-community.github.io/helm-charts
            version: 56.6.2
          - name: coredns
            chart: coredns
            repoURL: https://coredns.github.io/helm
            version: 1.27.1
          - name: ingress-nginx
            chart: ingress-nginx
            repoURL: https://kubernetes.github.io/ingress-nginx
            version: 4.9.0
          - name: loki
            chart: loki
            repoURL: https://grafana.github.io/helm-charts
            version: 5.44.0
          - name: metrics-server
            chart: metrics-server
            repoURL: https://kubernetes-sigs.github.io/metrics-server/
            version: 3.11.0
          - name: alertmanager
            chart: alertmanager
            repoURL: https://prometheus-community.github.io/helm-charts
            version: 1.7.0
          - name: cert-manager
            chart: cert-manager
            repoURL: https://charts.jetstack.io
            version: 1.13.2
          - name: nginx-ingress
            chart: ingress-nginx
            repoURL: https://kubernetes.github.io/ingress-nginx
            version: 4.9.0
          - name: longhorn
            chart: longhorn
            repoURL: https://charts.longhorn.io
            version: 1.5.3
          - name: prometheus-operator-crds
            chart: prometheus-operator-crds
            repoURL: https://prometheus-community.github.io/helm-charts
            version: 56.6.2
          - name: rancher
            chart: rancher
            repoURL: https://releases.rancher.com/server-charts/latest
            version: 2.11.2
          - name: monitoring
            chart: monitoring
            repoURL: https://example.com/helm-charts
            version: 1.0.0
          - name: cilium
            chart: cilium
            repoURL: https://helm.cilium.io
            version: 1.17.4
  template:
    metadata:
      name: '{{name}}'
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{repoURL}}'
        chart: '{{chart}}'
        targetRevision: '{{version}}'
        helm:
          valueFiles:
            - apps/system/base/{{name}}/values.yaml
            - apps/system/overlays/prod/dc11a/{{name}}-values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{name}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true 